

body {
	text-align: center;
	margin: 30 10 20 10;
}


.color-container {
	transition: all .3s ease;

}

.color-container {
	margin: 0 auto;
	height: 600px;
	width: 600px;
	border: black;
	border-style: dotted;
	position:relative;
}




.bluesquare {
	height: 100px;
	width: 100px;
	background-color: blue;
	float: left;
	opacity: 0;
	-webkit-transition: .8s ease;
}

.bluesquare:hover {
	opacity: 1;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.redsquare {
	height: 100px;
	width: 100px;
	background-color: red;
	float: left;
	opacity: 0;
	-webkit-transition: .8s ease;
}
.redsquare:hover {
	opacity: 1;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.greensquare {
	height: 100px;
	width: 100px;
	background-color: green;
	float: left;
	opacity: 0;
	-webkit-transition: .8s ease;
}
.greensquare:hover {
	opacity: 1;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.yellowsquare {
	height: 100px;
	width: 100px;
	background-color: yellow;
	float: left;
	opacity: 0;
	-webkit-transition: .8s ease;
}

.yellowsquare:hover {
	opacity: 1;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}

.purplesquare {
	height: 100px;
	width: 100px;
	background-color: purple;
	float: left;
	opacity: 0;
	-webkit-transition: .8s ease;
}

.purplesquare:hover {
	opacity: 1;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}




